---
import App from "../layouts/App.astro";
---

<App>
  <section>
    <h1 class="title">title</h1>

    <a href="/" class="button">
      <p>button</p>
    </a>

    <p>paragraph</p>
  </section>
</App>

<style>
  .title {
    text-decoration: line-through !important;
    cursor: pointer;
  }

  p {
    font-size: 28px;
  }
</style>
